{% extends "base.html" %}
{% block content %}
<!-- informacion del equipo favorito  -->
<!-- fila 3 -->
<div class="row" style="background-color: #011377;">
    <!-- fecha numero... -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color:#FFF; text-align: center;">
          <h5>
            Fecha N° 10
           </h5>
        </div>
      </div>
    </div>
    <!-- fecha -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color:#FFF; text-align: center;">
          <h5>
            12-08-2020
          </h5>
        </div>
      </div>
    </div>
    <!-- rival -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color:#FFF; text-align: center;">
          <h5>
            Rival: Audax Italiano
          </h5>
        </div>
      </div>              
    </div>            
  </div>          
{% endblock %}