{% extends "base.html" %}
{% block fila2 %}
<!-- informacion del equipo favorito  -->
<!-- fila 2 -->
<div class="row" style="background-color: #011377;">
    <!-- goles a favor -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color:#FFF; text-align: center;">
          <h5>
            Goles +30
          </h5>
        </div>
      </div>
    </div>
  <!-- goles en contra -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color:#FFF; text-align: center;">
          <h5>
            Goles -3
          </h5>
        </div>
      </div>              
    </div>
    <!-- diferencia de goles -->
    <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color: #FFF; text-align: center;">
          <h5>
            Dif +27
          </h5>
        </div>
      </div>                
    </div>                           
</div>
{% endblock %}