{% extends "base.html" %}
{% block content %}
<!-- Ultimos 3 Partidos del equipo favorito -->
<div class="row" style="background-color: #011377;">
  <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="width: auto; background-color: #011377;">
      <div class="card-title" style="text-align: center; color: #FFFFFF;">
        <h3 class="mb-3">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Ultimos 3 Partidos</font>
        </font>
        </h3>
      </div>
      <div>
        <ul class="list-group list-group-flush" style="text-align: center; color: #ffffff;">
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 7 Universidad de Chile 4 vs Curico Unido 1</li>
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 8 Comquimbo Unido 0 vs Universidad de Chile 3</li>
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 9 Union La Calera 2 vs Universidad de Chile 5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- fin Ultimos 3 Partidos del equipo favorito -->
{% endblock %}