<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/components/breadcrumb/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    {% load static %}
  </head>
  <title>SOKER</title>
  <body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" 
    style="border-color: black; background-color: white;" >
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Oreja">
        <img src="{% static 'insignias/soker.png' %}" width="42" height="42" class="d-block" viewBox="0 0 612 612" role="img" focusable="false">
      </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link active" 
            href="https://www.udechile.cl/" target="_blank" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">
              <font style="vertical-align: inherit; color: black;">Mas Datos</font>
            </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-md-auto">
        <div class="dropdown" style="padding-right: 5px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" 
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reglamentos
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="http://www.anfp.cl/documentos/09ab9a2ec42bb4ced1885b0b3c79f423.pdf" target="_blank">Reglamento torneo Nacional</a>
            <a class="dropdown-item" href="http://www.anfp.cl/documentos/7a5c080c42473b70334931c77c20af90.pdf" target="_blank">Reglamento ANFP</a>
            <a class="dropdown-item" href="https://resources.fifa.com/image/upload/spielregeln-2019-20.pdf?cloudid=kgtshiddedmt7qwidf5l" target="_blank">Reglamento FIFA</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver Otro Equipo
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Universidad Catolica</a>
            <a class="dropdown-item" href="#">Union la Calera</a>
            <a class="dropdown-item" href="#">Curico Unido</a>
            <a class="dropdown-item" href="#">Universidad de Chile</a>
            <a class="dropdown-item" href="#">Deportes Antofagasta</a>
            <a class="dropdown-item" href="#">Palestino</a>
            <a class="dropdown-item" href="#">Unio Española</a>
            <a class="dropdown-item" href="#">Audax Italiano</a>
            <a class="dropdown-item" href="#">Huachipato</a>
            <a class="dropdown-item" href="#">Everton</a>
            <a class="dropdown-item" href="#">Cobresal</a>
            <a class="dropdown-item" href="#">Deportes Iquique</a>
            <a class="dropdown-item" href="#">Colo Colo</a>
            <a class="dropdown-item" href="#">U de Concepcion</a>
            <a class="dropdown-item" href="#">Deportes la Serena</a>
            <a class="dropdown-item" href="#">O'higgins</a>
            <a class="dropdown-item" href="#">Coquimbo Unido</a>
            <a class="dropdown-item" href="#">Curico Unido</a>
            <a class="dropdown-item" href="#">Wanders</a>
          </div>
        </div>
      </ul>
    </header>
    <main class="bd-masthead" id="content" role="main">
      <div class="container-fluid">  
        <!-- informacion del equipo favorito  -->
        <!-- fila 1 -->
        {% block content %}
        <!-- Aqui la informacion del equipo  -->
        {% endblock %}
      </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>