{% extends "base.html" %}
{% block content %}
<!-- informacion del equipo favorito  -->
<!-- fila 1 -->
<div class="row" style="background-color: #011377;">
  <!-- posicion -->
  <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="background-color: #011377;">
      <div class="card-body" style="color: #FFF; text-align: center;">
        <h5>
          Posicion 1
        </h5>
      </div>
    </div>
  </div>
  <!-- Puntos -->
  <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="background-color: #011377;">
      <div class="card-body" style="color: #FFF; text-align: center;">
        <h5>
          Puntos 27
        </h5>
      </div>
    </div>              
  </div>
  <!-- partidos jugados -->
  <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="background-color: #011377;">
      <div class="card-body" style="color: #FFF; text-align: center;">
        <h5>
          Partidos 9
        </h5>
      </div>
    </div>               
  </div>
</div>
{% endblock %}