{% extends "base.html" %}{% load static %}
{% block content %}
<!-- informacion del equipo favorito  -->
<!-- fila 1 -->
<div class="row" style="background-color: #011377;">
  <!-- posicion - puntos - partidos jugados-->
  <div class="col-12 col-sm-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="background-color: #011377;">
      <div class="card-body" style="color: #FFF;text-align: center;padding-left: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;">
        <p class="font-weight-normal text-center" style="margin-bottom: 0px;">
          Posicion 1 - Puntos 27 - Partidos Jugados 9
        </p>
      </div>
    </div>
  </div>
</div>
<!-- informacion del equipo favorito  -->
<!-- fila 2 -->
<div class="row" style="background-color: #011377;">
  <!-- goles a favor - goles en contra - diferencia de goles-->
  <div class="col-12 col-sm-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="background-color: #011377;">
      <div class="card-body" style="color: #FFF;text-align: center;padding-left: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;">
        <p class="font-weight-normal text-center" style="margin-bottom: 0px;">
          Goles + 32 - Goles (- 5) - Diff +23 Partidos Jugados 9
        </p>
      </div>
    </div>
  </div>
</div>
<!-- informacion del equipo favorito  -->
<!-- fila 3 -->
<div class="row" style="background-color: #011377;">
  <!-- fecha numero... rival -->
    <!-- goles a favor - goles en contra - diferencia de goles-->
    <div class="col-12 col-sm-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="background-color: #011377;">
        <div class="card-body" style="color: #FFF;text-align: center;padding-left: 5px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;">
          <p class="font-weight-normal text-center" style="margin-bottom: 0px;">
            Fecha N° 10 -  Rival: Audax Italiano
          </p>
        </div>
      </div>
    </div>
</div>

<!-- Formaciones -->
<div class="row" style="background-color: #011377;">
  <!-- Formacion Equipo local -->
    <div class="col-6 col-sm-4 text-center text-md-center"
    style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
      <div class="card border-light" style="width: auto; background-color: #011377;">
        <img src="{% static 'insignias/lau.jpeg' %}" class="card-img-top" style="width:175px; height:auto;" alt="El LEON">
        <div class="card-body"> 
          <h5 class="card-title" style="vertical-align:middle; color: #FFFFFF">
            <font style="vertical-align: inherit;;">Universidad de Chile</font>
          </h5>
          <p class="card-text" style=" color: #FFFFFF">Formacion probable:</p>
          <table id="Local" class="table">
            <thead style="color: #FFFFFF">
              <tr>
                <th>n°</th>
                <th>Jugador</th>
              </tr>
            </thead>
            <tbody style=" color: #FFFFFF">
              <tr>
                <td scope="row">1</td>
                <td scope="row">Fernando de Paul</td>
              </tr>
              <tr>
                <td scope="row">15</td>
                <td scope="row">Jean Bosejour</td>
              </tr>
              <tr>
                <td scope="row">4</td>
                <td scope="row">Osvaldo Gonzalez</td>
              </tr>
              <tr>
                <td scope="row">3</td>
                <td scope="row">Diego Carrasco</td>
              </tr>
              <tr>
                <td scope="row">6</td>
                <td scope="row">Matias Rodriguez</td>
              </tr>
              <tr>
                <td scope="row">21</td>
                <td scope="row">Gonzalo Espinoza</td>
              </tr>                  
              <tr>
                <td scope="row">13</td>
                <td scope="row">Camilo Moya</td>
              </tr>
              <tr>
                <td scope="row">22</td>
                <td scope="row">Pablo Aranguiz</td>
              </tr>
              <tr>
                <td scope="row">10</td>
                <td scope="row">Walter Montillo</td>
              </tr>
              <tr>
                <td scope="row">20</td>
                <td scope="row">Joaquin Larrivey</td>
              </tr>
              <tr>
                <td scope="row">19</td>
                <td scope="row">Nicolas Guerra</td>
              </tr>                  
            </tbody>
          </table> 
          <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
      </div>
    </div>
<!-- fin Formacion Equipo local -->

<!-- Formacion Equipo visita -->
    <div class="col-6 col-sm-4 order-md-1 text-center text-md-center"
    style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="width: auto; background-color: #1e8742;">
      <img src="{% static 'insignias/audax_2.png' %}" 
      class="card-img-top" 
      style="width:175px; height:auto;" alt="...">
      <div class="card-body"> 
        <h5 class="card-title" style="vertical-align:middle;  color: #FFFFFF">
          <font style="vertical-align: inherit;;">Universidad de Chile</font>
        </h5>
        <p class="card-text" style=" color: #FFFFFF">Formacion probable:</p>
        <table id="visita" class="table">
          <thead style=" color: #FFFFFF">
            <tr>
              <th>n°</th>
              <th>Jugador</th>
            </tr>
          </thead>
          <tbody style=" color: #FFFFFF">
            <tr>
              <td scope="row">1</td>
              <td scope="row" >Joaquín Muñoz</td>
            </tr>
            <tr>
              <td scope="row">15</td>
              <td scope="row">Carlos Labrín</td>
            </tr>
            <tr>
              <td scope="row">19</td>
              <td scope="row">Ricardo Escobar</td>
            </tr>
  
            <tr>
              <td scope="row">5</td>
              <td scope="row">Fabián Torres</td>
            </tr>
            <tr>
              <td scope="row">15</td>
              <td scope="row">Nicolás Crovetto</td>
            </tr>
  
            <tr>
              <td scope="row">20</td>
              <td scope="row">Pablo Lavandeira</td>
            </tr>                  
  
            <tr>
              <td scope="row">21</td>
              <td scope="row">Luis Cabrera</td>
            </tr>
  
            <tr>
              <td scope="row">11</td>
              <td scope="row">Jorge Henríquez</td>
            </tr>
  
            <tr>
              <td scope="row">10</td>
              <td scope="row">Ariel Martinez</td>
            </tr>
  
            <tr>
              <td scope="row">9</td>
              <td scope="row">Rodrigo Holgado</td>
            </tr>
  
            <tr>
              <td scope="row">19</td>
              <td scope="row">Jesús Ramírez</td>
            </tr>                  
  
          </tbody>
        </table>  
        <a href="#" class="btn btn-secondary">Go somewhere</a>
        </div>
    </div>
  </div>
  <!-- fin Formacion Equipo Visita -->
</div> <!-- fin de fila Formaciones -->

<!-- proximos 3 Partidos del equipo favorito -->
<div class="row" style="background-color: #011377;">
  <div class="col-12 col-sm-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="width: auto; background-color: #011377;">
      <div class="card-title" style="text-align: center; color: #ffffff;">
        <h5 class="mb-3" style="margin-top: 16px;">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Proximos 3 Partidos</font>
        </font>
        </h5>
      </div>
      <ul class="list-group list-group-flush font-weight-normal" style="text-align: center; color: #ffffff;">
        <li class="list-group-item"style="background-color: #011377;">Fecha N° 11 Universidad de Chile vs Palestino</li>
        <li class="list-group-item"style="background-color: #011377;">Fecha N° 12 Wanders vs Universidad de Chile</li>
        <li class="list-group-item"style="background-color: #011377;">Fecha N° 13 Everton vs Universidad de Chile</li>
      </ul>
    </div>              
  </div>
</div>
<!-- fin proximos 3 Partidos del equipo favorito -->

<!-- Ultimos 3 Partidos del equipo favorito -->
<div class="row" style="background-color: #011377;">
  <div class="col-12 col-sm-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="card border-light" style="width: auto; background-color: #011377;">
      <div class="card-title" style="text-align: center; color: #FFFFFF;">
        <h5 class="mb-3" style="margin-top: 16px;">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Ultimos 3 Partidos</font>
        </font>
        </h5>
      </div>
      <div>
        <ul class="list-group list-group-flush font-weight-normal" style="text-align: center; color: #ffffff;">
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 7 Universidad de Chile 4 vs Curico Unido 1</li>
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 8 Comquimbo Unido 0 vs Universidad de Chile 3</li>
          <li class="list-group-item"style="background-color: #011377;">Fecha N° 9 Union La Calera 2 vs Universidad de Chile 5</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- fin Ultimos 3 Partidos del equipo favorito -->
{% endblock %}