<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/components/breadcrumb/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <title>Una Pelota, Un Gol</title>
  <body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" 
    style="border-color: black; background-color: #011377;" >
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Oreja">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="d-block" viewBox="0 0 612 612" role="img" focusable="false">
          <title>Bootstrap</title>
            <path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path><path fill="currentColor" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path>
        </svg>
      </a>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item">
            <a class="nav-link active" 
            href="https://www.udechile.cl/" target="_blank" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Casa</font>
              </font>
            </a>
          </li>
        </ul>
      </div>
    
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item dropdown">
          <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">
              v4.5
              </font>
            </font>
          </a>
          <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
            <a class="dropdown-item active" href="/docs/4.5/">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                Último (4.5.x)
                </font>
              </font></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://getbootstrap.com/docs/3.4/">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  v3.4.1
                </font>
              </font>
            </a>
            <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  v2.3.2
                </font>
              </font>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/docs/versions/">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                  Todas las versiones
                </font>
              </font>
            </a>
          </div>
        </li>
      </ul>
      
    </header>
      <main class="bd-masthead" id="content" role="main">
        <div class="container-fluid">
          <!-- informacion del equipo favorito  -->
          <!-- fila 1 -->
          <div class="row" style="background-color: #011377;">
            <!-- posicion --> {{ equipo }}
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color: #FFF; text-align: center;">
                  <h5>
                    Posicion 1
                  </h5>
                </div>
              </div>
            </div>
            <!-- Puntos -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color: #FFF; text-align: center;">
                  <h5>
                    Puntos 27
                  </h5>
                </div>
              </div>              
            </div>
            <!-- partidos jugados -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color: #FFF; text-align: center;">
                  <h5>
                    Partidos 9
                  </h5>
                </div>
              </div>               
            </div>
          </div>
          <!-- informacion del equipo favorito  -->
          <!-- fila 2 -->
          <div class="row" style="background-color: #011377;">
            <!-- goles a favor -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color:#FFF; text-align: center;">
                  <h5>
                    Goles +30
                  </h5>
                </div>
              </div>
            </div>
          <!-- goles en contra -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color:#FFF; text-align: center;">
                  <h5>
                    Goles -3
                  </h5>
                </div>
              </div>              
            </div>
            <!-- diferencia de goles -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color: #FFF; text-align: center;">
                  <h5>
                    Dif +27
                  </h5>
                </div>
              </div>                
            </div>                           
          </div>
          <!-- informacion del equipo favorito  -->
          <!-- fila 2 -->
          <div class="row" style="background-color: #011377;">
            <!-- fecha numero... -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color:#FFF; text-align: center;">
                  <h5>
                    Fecha N° 10
                   </h5>
                </div>
              </div>
            </div>
            <!-- fecha -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color:#FFF; text-align: center;">
                  <h5>
                    12-08-2020
                  </h5>
                </div>
              </div>
            </div>
            <!-- rival -->
            <div class="col-6 col-sm-4" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="background-color: #011377;">
                <div class="card-body" style="color:#FFF; text-align: center;">
                  <h5>
                    Rival: Audax Italiano
                  </h5>
                </div>
              </div>              
            </div>            
          </div>          
          <!-- fin de info del equipo favorito  -->

          <!-- Formaciones -->
          <div class="row" style="background-color: #011377;">
          <!-- Formacion Equipo local -->
            <div class="col-md-6 order-md-1 text-center text-md-center"
            style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="width: auto; background-color: #011377;">
                <img src="/home/chascas/desarrollo/insignias_1/lau.jpeg" class="card-img-top" style="width:255px; height:auto;" alt="...">
                <div class="card-body"> 
                  <h5 class="card-title" style="vertical-align:middle;  color: #FFFFFF">
                    <font style="vertical-align: inherit;;">Universidad de Chile</font>
                  </h5>
                  <p class="card-text" style=" color: #FFFFFF">Formacion probable:</p>
                  <table id="Local" class="table">
                    <thead style="color: #FFFFFF">
                      <tr>
                        <th>n°</th>
                        <th>Jugador</th>
                      </tr>
                    </thead>
                    <tbody style=" color: #FFFFFF">
                      <tr>
                        <td scope="row">1</td>
                        <td scope="row">Fernando de Paul</td>
                      </tr>
                      <tr>
                        <td scope="row">15</td>
                        <td scope="row">Jean Bosejour</td>
                      </tr>
                      <tr>
                        <td scope="row">4</td>
                        <td scope="row">Osvaldo Gonzalez</td>
                      </tr>
                      <tr>
                        <td scope="row">3</td>
                        <td scope="row">Diego Carrasco</td>
                      </tr>
                      <tr>
                        <td scope="row">6</td>
                        <td scope="row">Matias Rodriguez</td>
                      </tr>
                      <tr>
                        <td scope="row">21</td>
                        <td scope="row">Gonzalo Espinoza</td>
                      </tr>                  
                      <tr>
                        <td scope="row">13</td>
                        <td scope="row">Camilo Moya</td>
                      </tr>
                      <tr>
                        <td scope="row">22</td>
                        <td scope="row">Pablo Aranguiz</td>
                      </tr>
                      <tr>
                        <td scope="row">10</td>
                        <td scope="row">Walter Montillo</td>
                      </tr>
                      <tr>
                        <td scope="row">20</td>
                        <td scope="row">Joaquin Larrivey</td>
                      </tr>
                      <tr>
                        <td scope="row">19</td>
                        <td scope="row">Nicolas Guerra</td>
                      </tr>                  
                    </tbody>
                  </table> 
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
            </div>
            <!-- fin Formacion Equipo local -->

            <!-- Formacion Equipo visita -->
            <div class="col-md-6 order-md-1 text-center text-md-center"
            style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="width: auto; background-color: #1e8742;">
                <img src="/home/chascas/desarrollo/insignias_1/audax_2.png" 
                class="card-img-top" 
                style="width:255px; height:auto;" alt="...">
                <div class="card-body"> 
                  <h5 class="card-title" style="vertical-align:middle;  color: #FFFFFF">
                    <font style="vertical-align: inherit;;">Universidad de Chile</font>
                  </h5>
                  <p class="card-text" style=" color: #FFFFFF">Formacion probable:</p>
                  <table id="visita" class="table">
                    <thead style=" color: #FFFFFF">
                      <tr>
                        <th>n°</th>
                        <th>Jugador</th>
                      </tr>
                    </thead>
                    <tbody style=" color: #FFFFFF">
                      <tr>
                        <td scope="row">1</td>
                        <td scope="row" >Joaquín Muñoz</td>
                      </tr>
                      <tr>
                        <td scope="row">15</td>
                        <td scope="row">Carlos Labrín</td>
                      </tr>
                      <tr>
                        <td scope="row">19</td>
                        <td scope="row">Ricardo Escobar</td>
                      </tr>
            
                      <tr>
                        <td scope="row">5</td>
                        <td scope="row">Fabián Torres</td>
                      </tr>
                      <tr>
                        <td scope="row">15</td>
                        <td scope="row">Nicolás Crovetto</td>
                      </tr>
            
                      <tr>
                        <td scope="row">20</td>
                        <td scope="row">Pablo Lavandeira</td>
                      </tr>                  
            
                      <tr>
                        <td scope="row">21</td>
                        <td scope="row">Luis Cabrera</td>
                      </tr>
            
                      <tr>
                        <td scope="row">11</td>
                        <td scope="row">Jorge Henríquez</td>
                      </tr>
            
                      <tr>
                        <td scope="row">10</td>
                        <td scope="row">Ariel Martinez</td>
                      </tr>
            
                      <tr>
                        <td scope="row">9</td>
                        <td scope="row">Rodrigo Holgado</td>
                      </tr>
            
                      <tr>
                        <td scope="row">19</td>
                        <td scope="row">Jesús Ramírez</td>
                      </tr>                  
            
                    </tbody>
                  </table>  
                  <a href="#" class="btn btn-secondary">Go somewhere</a>
                </div>
              </div>
            </div>
            <!-- fin Formacion Equipo Visita -->
          </div> <!-- fin de fila Formaciones -->

          <!-- Ultimos 3 Partidos del equipo favorito -->
          <div class="row" style="background-color: #011377;">
            <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="width: auto; background-color: #011377;">
                <div class="card-title" style="text-align: center; color: #FFFFFF;">
                  <h3 class="mb-3">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Ultimos 3 Partidos</font>
                  </font>
                  </h3>
                </div>
                <div>
                  <ul class="list-group list-group-flush" style="text-align: center; color: #ffffff;">
                    <li class="list-group-item"style="background-color: #011377;">Fecha N° 7 Universidad de Chile 4 vs Curico Unido 1</li>
                    <li class="list-group-item"style="background-color: #011377;">Fecha N° 8 Comquimbo Unido 0 vs Universidad de Chile 3</li>
                    <li class="list-group-item"style="background-color: #011377;">Fecha N° 9 Union La Calera 2 vs Universidad de Chile 5</li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
          <!-- fin Ultimos 3 Partidos del equipo favorito -->
          
          <!-- proximos 3 Partidos del equipo favorito -->
          <div class="row" style="background-color: #011377;">
            <div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
              <div class="card border-light" style="width: auto; background-color: #011377;">
                <div class="card-title" style="text-align: center; color: #ffffff;">
                  <h3 class="mb-3">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Proximos 3 Partidos</font>
                  </font>
                  </h3>
                </div>
                <ul class="list-group list-group-flush" style="text-align: center; color: #ffffff;">
                  <li class="list-group-item"style="background-color: #011377;">Fecha N° 11 Universidad de Chile vs Palestino</li>
                  <li class="list-group-item"style="background-color: #011377;">Fecha N° 12 Wanders vs Universidad de Chile</li>
                  <li class="list-group-item"style="background-color: #011377;">Fecha N° 13 Everton vs Universidad de Chile</li>
                </ul>
              </div>              
            </div>
          </div>
          <!-- fin proximos 3 Partidos del equipo favorito -->

        </div>
      </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>


</html>